## Bibliotecas

In [16]:
import pandas as pd

## Funções

In [17]:
def setAddress(address):
    df = pd.read_excel(address)
    return df

## Configurando DataFrame

In [ ]:
df = setAddress('dados_para_estudo.xlsx')

       ID     Nome  Idade          Cidade  Salário        Data de Admissão
0       1   Carlos     42        Curitiba  3236.86 2010-01-01 00:00:00.000
1       2    Bruno     30  Rio de Janeiro  5668.74 2010-01-06 02:48:38.919
2       3   Carlos     40  Belo Horizonte  4410.26 2010-01-11 05:37:17.838
3       4    Bruno     33        Curitiba  3634.94 2010-01-16 08:25:56.757
4       5  Eduardo     18        Curitiba  6248.72 2010-01-21 11:14:35.676
..    ...      ...    ...             ...      ...                     ...
995   996    Bruno     41        Salvador  3885.92 2023-12-10 12:45:24.324
996   997   Carlos     31  Rio de Janeiro  2005.26 2023-12-15 15:34:03.243
997   998  Eduardo     22        Curitiba  2027.14 2023-12-20 18:22:42.162
998   999    Diana     55       São Paulo  5061.65 2023-12-25 21:11:21.081
999  1000   Carlos     23  Belo Horizonte  2249.45 2023-12-31 00:00:00.000

[1000 rows x 6 columns]